## Pandas

This is a library used for analysis and cleaning two Data Structure -- 1.Series & 2.Data Fram

In [3]:
import pandas as pd

#### Basics

In [48]:
##### Read CSV & Inspect #####
# Using the CSV file you downloaded (data.csv):

# Load it using pd.read_csv()
df = pd.read_csv('Data_&_text/data.csv')
print(df)

print("######################")
# Print the first 3 rows (head())
print(df.head(3))

print("######################")
# Print the last 3 rows 
print(df.tail(2))

print("######################")
#Get number of rows & columns
print(df.shape)

print("######################")
#Name of columns
print(df.columns)

print("######################")
#Datatype of columns
print(df.dtypes)

print("######################")
# Print summary statistics (describe())
df.describe()

    Name  Age     City
0   Ayan   20   Howrah
1   Riya   22  Kolkata
2  Rahul   21    Delhi
3  Sneha   23   Mumbai
4  Arjun   19  Chennai
5    Ram   18      NaN
6    NaN   20      NaN
######################
    Name  Age     City
0   Ayan   20   Howrah
1   Riya   22  Kolkata
2  Rahul   21    Delhi
######################
  Name  Age City
5  Ram   18  NaN
6  NaN   20  NaN
######################
(7, 3)
######################
Index(['Name', 'Age', 'City'], dtype='object')
######################
Name    object
Age      int64
City    object
dtype: object
######################

             Age
count   7.000000
mean   20.428571
std     1.718249
min    18.000000
25%    19.500000
50%    20.000000
75%    21.500000
max    23.000000

In [ ]:
##### Cleaning & Filtering #####
# From the CSV:

#Check for missing values
import math


print(df.isnull().any(axis=1))
print(df.isnull().sum)

print("######################")
#Handling missing vallues
df_filled = df.fillna(0)
print(df_filled)

print("######################")
# Show all rows where City = “Kolkata”
print(df[df['City']=='Kolkata'])

print("######################")
# Show all rows where Age > 20
print(df[df['Age']>20])

print("######################")
# Show only Name + Age columns
df[['Name','Age']]

print("######################")
#Sorting by Value
df.sort_values('Age')

print("######################")
#Create a new column using simple arithmetic 
df_mean= df['Age'].mean() 
df['Base_Age_Difference'] = math.floor(df_mean)   - df['Age']
print(df)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool
<bound method DataFrame.sum of     Name    Age   City  Base_Age_Difference
0  False  False  False                False
1  False  False  False                False
2  False  False  False                False
3  False  False  False                False
4  False  False  False                False
5  False  False   True                False
6   True  False   True                False>
######################
    Name  Age     City  Base_Age_Difference
0   Ayan   20   Howrah            20.428571
1   Riya   22  Kolkata            20.428571
2  Rahul   21    Delhi            20.428571
3  Sneha   23   Mumbai            20.428571
4  Arjun   19  Chennai            20.428571
5    Ram   18        0            20.428571
6      0   20        0            20.428571
######################
   Name  Age     City  Base_Age_Difference
1  Riya   22  Kolkata            20.428571
######################
    Name  Age     City  Base_Age_Difference
1   Riya   22  Kolkata            20.428571
2  Rahul   21    Delhi            20.428571
3  Sneha   23   Mumbai            20.428571
######################
######################
######################
    Name  Age     City  Base_Age_Difference
0   Ayan   20   Howrah                    0
1   Riya   22  Kolkata                   -2
2  Rahul   21    Delhi                   -1
3  Sneha   23   Mumbai                   -3
4  Arjun   19  Chennai                    1
5    Ram   18      NaN                    2
6    NaN   20      NaN                    0

In [67]:
##### Aggregations #####
data1 = {
    "Name": ["Ayan", "Riya", "Sam", "Ayan", "Riya"],
    "Age": [25, 30, 35, 28, 32],
    "Score": [80, 90, 85, 70, 95]
}
df1 = pd.DataFrame(data1)

mean_age = df1["Age"].mean()
median_age = df1["Age"].median()
max_age = df1["Age"].max()
min_age = df1["Age"].min()

print("Mean:", mean_age)
print("Median:", median_age)
print("Max:", max_age)
print("Min:", min_age)

# Group by Name and compute aggregations
grouped = df1.groupby("Name").agg({
    "Age": ["mean", "count", "sum"],
    "Score": ["mean", "count", "sum"]
})

print(grouped)

Mean: 30.0
Median: 30.0
Max: 35
Min: 25
       Age           Score
      mean count sum  mean count  sum
Name
Ayan  26.5     2  53  75.0     2  150
Riya  31.0     2  62  92.5     2  185
Sam   35.0     1  35  85.0     1   85