## Pandas

This is a library used for analysis and cleaning two Data Structure -- 1.Series & 2.Data Fram

In [3]:
import pandas as pd

#### Basics

In [32]:
##### Read CSV & Inspect #####
# Using the CSV file you downloaded (data.csv):

# Load it using pd.read_csv()
df = pd.read_csv('Data_&_text/data.csv')
print(df)

print("######################")
# Print the first 3 rows (head())
print(df.head(3))

print("######################")
# Print summary statistics (describe())
df.describe()

    Name  Age     City
0   Ayan   20   Howrah
1   Riya   22  Kolkata
2  Rahul   21    Delhi
3  Sneha   23   Mumbai
4  Arjun   19  Chennai
######################
    Name  Age     City
0   Ayan   20   Howrah
1   Riya   22  Kolkata
2  Rahul   21    Delhi
######################

             Age
count   5.000000
mean   21.000000
std     1.581139
min    19.000000
25%    20.000000
50%    21.000000
75%    22.000000
max    23.000000

In [37]:
##### Filter Rows #####
# From the CSV:

# Show all rows where City = “Kolkata”
print(df[df['City']=='Kolkata'])

print("######################")
# Show all rows where Age > 20
print(df[df['Age']>20])

print("######################")
# Show only Name + Age columns
df[['Name','Age']]

   Name  Age     City
1  Riya   22  Kolkata
######################
    Name  Age     City
1   Riya   22  Kolkata
2  Rahul   21    Delhi
3  Sneha   23   Mumbai
######################

    Name  Age
0   Ayan   20
1   Riya   22
2  Rahul   21
3  Sneha   23
4  Arjun   19